argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
cx-Oracle==8.3.0
idna==3.10
minio==7.2.8
psycopg2==2.9.9
pycparser==2.22
pycryptodome==3.20.0
python-consul==1.1.0
requests==2.32.3
six==1.16.0
thread6==0.2.0
typing_extensions==4.12.2
urllib3==2.2.3
